[Unit]
Description=Start Roku to MQTT gateway
After=network.target mosquitto.service

[Service]
User=nodejs
ExecStart=/usr/bin/nodejs ./roku-mqtt.js
ExecReload=/bin/kill $MAINPID
WorkingDirectory=/opt/roku-mqtt
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
